@media (max-width:768px) {
    .container {
        max-width: 90%;
        padding-left:0;
        justify-content: center;
        padding: 32px;
    }

    .container img {
        max-width: 50%;
        top: -80px;
        left: 25%;
    }

    .container ul {
        margin-top: 8rem;
    }
}

@media (max-width:468px) {
    .container img {
        max-width: 70%;
        left: 15%;
        top: -80px;
    }

    .container ul li h2 {
        font-size: 1.5rem;
    }

    .container ul li .arrow {
        left: 273px;
    }
}